!!! 5
html(lang="en")
  head
    title Ohiru | Lunch

    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="stylesheet", href="/stylesheets/app.css")

    script(src="/javascripts/vendor/jquery-1.9.1.min.js")
    script(src="/javascripts/app.js")
    script(src="//use.typekit.net/ybf4pxg.js")
    script
      try{Typekit.load();}catch(e){}

  body
    // Google Tag Manager
    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-M7RV5C', height='0', width='0', style='display: none; visibility: hidden;')
    script
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-M7RV5C');
    // End Google Tag Manager

    .header
      a.suggestions(href="mailto:vibe+lunch@heroku.com") Suggestions

      hgroup
        h1 Ohiru
        h2 A healthy mind and healthy body

    .content
      != body

      .cli
        code heroku plugins:install https://github.com/heroku/heroku-lunch.git && heroku lunch
