!!! 5
html(lang="en")
  head
    title Lunch
    link(rel="stylesheet", href="/stylesheets/app.css")

    script(src="/javascripts/vendor/jquery-1.9.1.min.js")
    script(src="/javascripts/app.js")

  body
    .content
      != body