!!! 5
html(lang="en")
  head
    title Ohiru | Lunch
    link(rel="stylesheet", href="/stylesheets/app.css")

    script(src="/javascripts/vendor/jquery-1.9.1.min.js")
    script(src="/javascripts/app.js")

    script(src="//use.typekit.net/ybf4pxg.js")
    script
      try{Typekit.load();}catch(e){}

  body
    .header
      a.suggestions(href="mailto:vibe+lunch@heroku.com") Suggestions

      hgroup
        h1 Ohiru
        h2 A healthy mind and healthy body

    .content
      != body
