ul.lunches
  each lunch in lunches
    li(class=(lunch.today ? "active" : ""))
      h3.date(title=moment(lunch.date).format("MMM D YYYY"))= moment(lunch.date).format('dddd')

      .entry
        h2.summary= lunch.summary
        p.description= (lunch.description ? lunch.description : "No description found")
