ul.lunches
  each lunch in lunches
    li(class=(lunch.today ? "active" : ""))
      .date
        h3= moment(lunch.date).format('dddd')
        h4= moment(lunch.date).format("MMM D")
      .entry
        h2= lunch.summary
        p= lunch.description
