* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "helvetica neue", helvetica, arial, geneva, sans-serif;
  background: #000;
  font-size: 16px;
}
.header {
  padding: 80px 0;
  position: relative;
  background-attachement: fixed;
  background-color: #000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0.25)), color-stop(100%, rgba(0,0,0,0.9))), url("/images/header-background.png");
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.9)), url("/images/header-background.png");
  background-image: -moz-linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.9)), url("/images/header-background.png");
  background-image: -o-linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.9)), url("/images/header-background.png");
  background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.9)), url("/images/header-background.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,0.75);
}
@media (max-width: 480px) {
  .header {
    display: none;
  }
}
.header h1,
.header h2 {
  text-transform: uppercase;
}
.header h1 {
  padding-top: 88px;
  font-family: "proxima-nova", "helvetica neue", helvetica, arial, geneva, sans-serif;
  background: url("/images/logo.png") center top no-repeat;
  font-size: 1.625em;
  letter-spacing: 6px;
}
.header h2 {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 6px;
}
.suggestions {
  float: right;
  position: absolute;
  right: 12px;
  top: 12px;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  font-family: "proxima-nova", "helvetica neue", helvetica, arial, geneva, sans-serif;
  border: 2px solid rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.5);
  font-size: 0.875em;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.suggestions:hover {
  border-color: #fff;
  color: #fff;
}
.content {
  max-width: 760px;
  margin: 0 auto;
  position: relative;
}
.cli {
  padding: 20px 0;
  text-align: center;
}
.cli code {
  padding-top: 20px;
  font-family: monaco, consolas, "liberation mono", Courier, monospace;
  color: #6d6b81;
  font-size: 0.8em;
}
@media (max-width: 480px) {
  .cli {
    display: none;
  }
}
.lunches {
  margin: 0;
  padding: 0;
  padding: 40px auto;
  background: #fff;
  list-style: none;
}
.lunches li {
  overflow: hidden;
  padding: 20px 20px 21px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fff), color-stop(10%, #d2d2d2), color-stop(90%, #d2d2d2), color-stop(100%, #fff));
  background-image: -webkit-linear-gradient(left, #fff, #d2d2d2 10%, #d2d2d2 90%, #fff);
  background-image: -moz-linear-gradient(left, #fff, #d2d2d2 10%, #d2d2d2 90%, #fff);
  background-image: -o-linear-gradient(left, #fff, #d2d2d2 10%, #d2d2d2 90%, #fff);
  background-image: linear-gradient(left, #fff, #d2d2d2 10%, #d2d2d2 90%, #fff);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}
.lunches li:last-child {
  padding-bottom: 20px;
  background-image: none;
}
.lunches .date {
  margin: 0;
  padding: 0;
  float: left;
  margin: 10px 40px 0 0;
  width: 100px;
  font-family: "proxima-nova", "helvetica neue", helvetica, arial, geneva, sans-serif;
  color: #554ea6;
  font-size: 1em;
  font-weight: normal;
}
.lunches .entry {
  float: left;
  max-width: 560px;
}
@media (max-width: 480px) {
  .lunches .entry {
    float: none;
    clear: both;
  }
}
.lunches .summary {
  margin: 0;
  padding: 0;
  color: #8b8b8b;
  font-size: 1.8em;
  font-weight: 300;
  cursor: pointer;
}
.lunches .description {
  -moz-transition: all;
  -o-transition: all;
  -webkit-transition: all;
  transition: all;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  display: block;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.lunches .description.active {
  height: 140px;
  padding: 10px 0;
}
.lunches .active .summary {
  color: #000;
  font-weight: 500;
}
