box-reset()
  margin 0
  padding 0

border-radius(radius)
  -moz-border-radius radius
  -webkit-border-radius radius
  border-radius radius

transition(transition)
  -moz-transition transition
  -o-transition transition
  -webkit-transition transition
  transition transition

horizontal-line()
  background-image -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, white), color-stop(10%, #d2d2d2), color-stop(90%, #d2d2d2), color-stop(100%, white))
  background-image -webkit-linear-gradient(left, white, #d2d2d2 10%, #d2d2d2 90%, white)
  background-image -moz-linear-gradient(left, white, #d2d2d2 10%, #d2d2d2 90%, white)
  background-image -o-linear-gradient(left, white, #d2d2d2 10%, #d2d2d2 90%, white)
  background-image linear-gradient(left, white, #d2d2d2 10%, #d2d2d2 90%, white)
  background-position bottom center
  background-repeat no-repeat
  background-size 100% 1px

*
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

body
  box-reset()
  font-family "helvetica neue", helvetica, arial, geneva, sans-serif
  font-size 16px

.header
  padding 80px 0
  position relative

  background-attachement fixed
  background-color black
  background-image -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.25)), color-stop(100%, rgba(0, 0, 0, 0.9))), url("/images/header-background.png")
  background-image -webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.9)), url("/images/header-background.png")
  background-image -moz-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.9)), url("/images/header-background.png")
  background-image -o-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.9)), url("/images/header-background.png")
  background-image linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.9)), url("/images/header-background.png")
  background-position center
  background-repeat no-repeat
  -webkit-background-size cover
  color white
  -webkit-font-smoothing antialiased
  text-align center
  text-shadow 0 1px 0 rgba(0, 0, 0, 0.75)

  h1,
  h2
    text-transform uppercase

  h1
    padding-top 88px

    background url("/images/logo.png") center top no-repeat
    font-family "Proxima Nova"
    font-size 1.625em
    letter-spacing 6px

  h2
    font-size 1em
    font-weight normal
    letter-spacing 6px

.suggestions
  float right
  position absolute
  right 12px
  top 12px

  border-radius(1000px)
  border 2px solid rgba(255, 255, 255, 0.5)
  color rgba(255, 255, 255, 0.5)
  font-family "Proxima Nova"
  font-size 0.875em
  font-weight bold
  padding 6px 10px
  text-decoration none
  transition(all 0.3s)

  &:hover
    border-color white
    color white

.lunches
  box-reset()
  margin 40px auto
  width 840px

  list-style none

  li
    overflow hidden
    padding 20px 20px 21px

    horizontal-line()

    &:last-child
      padding-bottom 20px

      background-image none

  .date
    box-reset()
    float left
    margin 18px 40px 0 0
    width 100px

    color #554ea6
    font-family "Proxima Nova"
    font-size 1em
    font-weight normal

  .entry
    float left
    width 660px

  .summary
    box-reset()

    color #8b8b8b
    font-size 2.25em
    font-weight 300

  .description
    display none

  .active .summary
    color black
    font-weight 500
